body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    background: url("https://wallpaperaccess.com/full/5927911.gif");
}

.listButton{
    display: inline-flex;
    width: 40%;
    justify-content: space-around;
    padding-top: 20px;
}
